html,
body {
  overflow-x: hidden; /* 수평 스크롤 강제 제거 */
  max-width: 100%;
}
#textBenefit {
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.benefitInfo {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.benefitInfo strong {
  font-size: 28px;
  font-weight: 500;
  color: black !important;
}
.benefitInfo p {
  font-size: 14px;
  color: rgb(97, 97, 97);
}
.biInner {
  width: 62%;
}

.할인서비스안내 {
  border: 1px solid #ccc;
  width: 100%;
  height: 190px;
  margin-top: 15px;
  border-color: #c7b19b;
  background-color: #fffaf5;
}

#notice {
  font-size: 16px !important;
  text-align: left !important;
  margin: 30px 0 10px 40px !important;
  color: black !important;
}

.할인서비스안내 p {
  margin-left: 40px;
  margin-bottom: 2px;
}

.benefitCards {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.benefitInner {
  width: 62%;
}

.cardBtn {
  display: flex;
  gap: 0;
  padding: 0;
  margin-bottom: px;
}

.cardBtn button {
  margin: 0;
  padding: 0;
  flex: 1;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: none;
  height: 60px;
  background-color: #eee;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
}
.cardBtn .매장별카드 {
  border-right: 1px solid #ccc;
}

.card {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.card img {
  width: 330px;
  height: 210px;
}

.cardInfo {
  margin-left: 60px;
}

.cardHref {
  font-size: 15px;
  margin-top: 40px;
  width: 150px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid rgb(175, 175, 175);
}

#cardname {
  font-size: 20px;
}
#carddiscount {
  font-size: 20px;
  color: #b10a11;
  margin-top: 10px;
  margin-bottom: 25px;
}

#carddesc {
  font-size: 14px;
  color: rgb(97, 97, 97);
}
