* {
  margin: 0;
  padding: 0;
}

#textBrand {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.firstBrand-img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#firstBrand-image1 {
  height: 700px;
  width: 100%;
}

#midImage {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
#midImage img {
  display: block; /* 블록 레벨로 바꿔서 줄바꿈 공간 제거 */
  width: 100%;
  margin: 0; /* 모든 여백 제거 */
  padding: 0; /* 혹시 패딩도 제거 */
  border: none; /* 혹시 테두리 제거 */
  margin-top: -20px;
}

#midImage img.brand-image {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
}

/* STEAK ACADEMY 이미지에만 적용할 스타일 */
#midImage img.steak-academy-image {
  width: 60% !important; /* 예시: 크기를 작게 */
  margin: 0 auto;
}

.youtube-frame {
  display: block;
  margin: 0 auto 40px;
  border: none;
  max-width: 100%;
  margin-bottom: 100px;
}

.bbbBtns {
  margin-top: -80px !important;
}
