* {
  margin: 0;
  padding: 0;
}

#textBrand {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.firsrBrand-img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fisrtBrand-image1 {
  height: 700px;
  width: 100%;
}

.midImage {
  width: 100%;
  margin: 0;
  height: 3200px;
  display: flex;
  justify-content: center;
}
#midMain-image {
  position: relative;
  top: 0;
  height: 100%;
  width: 85%;
}
