* {
  margin: 0;
  padding: 0;
}

.first-container {
  max-width: 100%;
  overflow: hidden; /* 가로 스크롤 숨김 */
  position: relative;
  width: 100vw; /* 뷰포트 너비 */
}

.first-wrap {
  width: calc(1900px * 4); /* 슬라이드 4장 너비 합계 */
  position: relative;
  /* display: flex; 제거 또는 바꿔보기 */
}

.first-slide {
  float: left; /* float 으로 가로 정렬 */
  width: 1900px;
}

.first-slide img {
  width: 100%;
  display: block;
}

#first-next {
  position: relative;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  right: -80vw;
  top: 50vh;
  z-index: 5;
  background-color: transparent;
}

#first-prev {
  position: relative;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  left: 10vw;
  top: 50vh;
  z-index: 5;
  background-color: transparent;
}

.first-container button:hover {
  background-color: #333;
  color: white;
}

.second-container {
  width: 100%;
  margin-top: 140px;
}

.secondInner {
  margin-top: 140px;
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
}

.third-container {
  display: block;
}
