* {
  margin: 0;
  padding: 0;
}

.allTop-container {
  background-color: rgb(109, 59, 1);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;
  position: fixed;
  z-index: 10;
}

.allTop-container button {
  border: none;
  background-color: rgb(109, 59, 1);
  color: white;
  padding: 13px;
  cursor: pointer;
}

.allTop-container button.brandBtn,
.menuBtn,
.membershipBtn,
.benefitBtn,
.storeBtn {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.left-con {
  display: flex;
  position: relative;
  left: -40px;
}

.allTop-container button.registerBtn {
  background-color: black;
  padding: 6px;
  width: 80px;
}

.mainLogo {
  position: relative;
  left: -130px;
}

.right-con {
  position: relative;
  left: 200px;
}

.first-container {
  max-width: 100%;
  overflow: hidden; /* 화면 가로 크기를 넘어가면 숨김처림 */
  position: relative; /* 위치 기준점 설정*/
}

.first-wrap {
  width: 99999px;
  position: relative;
  display: flex;
}

.first-slide {
  width: 1900px;
}

.first-slide img {
  width: 100%;
  display: block;
}

#first-next {
  position: relative;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  right: -80vw;
  top: 50vh;
  z-index: 10;
  background-color: transparent;
}

#first-prev {
  position: relative;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  left: 10vw;
  top: 50vh;
  z-index: 13;
  background-color: transparent;
}

.first-container button:hover {
  background-color: #333;
  color: white;
}

.third-container {
  display: block;
}
