* {
  margin: 0;
  padding: 0;
}

.first-container {
  max-width: 100%;
  overflow: hidden; /* 가로 스크롤 숨김 */
  position: relative;
  width: 100vw; /* 뷰포트 너비 */
}

.first-wrap {
  width: calc(1900px * 4); /* 슬라이드 4장 너비 합계 */
  position: relative;
  /* display: flex; 제거 또는 바꿔보기 */
}

.first-slide {
  float: left; /* float 으로 가로 정렬 */
  width: 1900px;
}

.first-slide img {
  width: 100%;
  display: block;
}

#first-next {
  position: relative;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  right: -80vw;
  top: 50vh;
  z-index: 5;
  background-color: transparent;
}

#first-prev {
  position: relative;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  left: 10vw;
  top: 50vh;
  z-index: 5;
  background-color: transparent;
}

.first-container button:hover {
  background-color: #333;
  color: white;
}

.secondInner {
  width: 65%;
  margin: 0 auto;
  margin-top: 140px;
}

.slide-page {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  gap: 10px; /* 요소 간 간격 조절 */
}

.center-text {
  width: 480px; /* 텍스트 영역 고정 너비 */
  padding: 40px;
  margin-left: 30px;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;
}
button {
  font-size: 40px;
  border: none;
  background-color: white;
  color: rgb(204, 204, 204);
  cursor: pointer;
}

.slide-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-img {
  width: 300px;
}
#right-img {
  margin-left: -100px;
}

#text-large {
  font-size: 70px;
  font-weight: 700;
}
#text-medium {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.third-container {
  width: 65%;
  margin: 0 auto;
}

.third1-img {
  margin-left: 200px;
}

.third2-img {
  margin-top: -150px;
}

.forthBenefit-container {
  width: 65%;
  margin: 0 auto;
  margin-top: 80px;
}

#bliClick {
  cursor: pointer;
}
