* {
  margin: 0;
  padding: 0;
}

.firstMenu-img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fisrtMenu-image1 {
  height: 600px;
  width: 100%;
}

.midBar {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  height: 60px; /* 높이 고정 */
  padding: 0 0 0 300px;
  border-bottom: 1px solid #ddd;
}

.midBar > .mainmenu,
.submenu {
  height: 100%;
  width: 275px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-color: #ddd;
  color: rgb(170, 169, 169);
  font-size: 20px;
  font-weight: bold;
}

.midBar > .submenu {
  width: 360px !important;
}

.midBar > #homeBtn {
  border: 1px solid;
  border-top: none;
  border-color: #ddd;
  border-bottom: none;
  background-color: white;
}
#brand-location {
  margin-left: 500px;
  padding-right: 30px;
  font-size: 18px !important;
  color: #444;
  font-size: 14px;
}

.blackLabelInfo {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.세트내용확인하기 {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
}

.bliInner {
  width: 65%;
}
#setMenu {
  font-size: 35px;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding: 30px;
}

#bli-image {
  position: relative;
  display: block;
  margin: auto;
  width: 65%;
  margin-top: 100px;
}

#bliEnName {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  color: #94785c;
}

#bliKoName {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
}

#bliEnName,
#bliKoName {
  text-align: center;
}

.setContainer {
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center; /* 수직 중앙 (선택사항) */
  width: 450px;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 15px;
}

.setContainer p {
  color: #5e5e5e;
}
.setContainer strong {
  font-size: 22px;
  margin-left: -25px;
  color: black !important;
}
.나누기선 {
  width: 1px;
  height: 40px;
  background-color: #ccc;
}

.blackLabelNotice {
  border: 1px solid #dddddd;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  height: 230px;
  font-size: 15px;
  margin-top: 80px;
}

.blackLabelNotice p {
  margin-left: 53px;
  margin-bottom: 2px;
  color: #5f5f5f;
}
#notice {
  font-size: 20px !important;
  text-align: left !important;
  margin: 35px 0 15px 50px !important;
  color: black;
}
