* {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.통합회원가입 {
  background-color: #f5f5f5;
  height: 700px;
}

.resisterInnerTop p {
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

#close {
  position: absolute;
  right: 20px;
}

.resisterInnerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  position: relative;
}

#back,
#close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.resisterInnerTop p {
  flex-grow: 1;
  text-align: left;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 10px; /* 요소들 사이 간격 */
  margin-top: 100px;
}

#아이디 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 100px;
}

#비밀번호 {
  margin-bottom: 30px;
  font-size: 20px;

  margin-left: 100px;
}
input {
  font-size: 20px;
  margin-top: 10px;
}

a {
  width: 100px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #bdbdbd;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

a:hover {
  background-color: #969696;
}
