* {
  margin: 0;
  padding: 0;

  background-color: #f5f5f5;
}
.통합회원가입 {
  height: 700px;
}

.resisterInnerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  position: relative;
}

.resisterInnerTop p {
  flex-grow: 1;
  text-align: left;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  align-items: center; /* 가로 중앙 정렬 */
  margin-top: 100px;
}

.container label {
  margin-bottom: 20px;
  text-align: left;
  margin-left: -200px;
}

.container input {
  width: 200px;
  padding: 8px;
  margin-top: 5px;
}

#close {
  border: none;
  font-size: 20px;
}
.container a {
  margin-top: 250px;
  margin-left: -50px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(165, 45, 45);
}

button,
a {
  cursor: pointer;
}
